spring:
  profiles:
    active: dev
  
  datasource:
    url: jdbc:h2:mem:smarteye-dev
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  
  h2:
    console:
      enabled: true
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    com.smarteye: DEBUG
    org.springframework.web: DEBUG
